<!DOCTYPE html>
<html ng-app="cardList">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>


  <body ng-controller="cardCtrl">
    {{ name }}
    <input type="text" placeholder="Pokemon Name" ng-model="newCard.name"/>
    <input type="text" placeholder="Pokemon Image" ng-model="newCard.url"/>
    <input type="number" placeholder="Pokemon HP" ng-model="newCard.stats.hp"/>
    <input type="number" placeholder="Pokemon ATK" ng-model="newCard.stats.atk"/>
    <input type="number" placeholder="Pokemon DEF" ng-model="newCard.stats.def"/>
    <button ng-click="addCard(newCard)"> Add New Card </button>
      <div class="card">
        <div class="name"> {{ newCard.name }} </div>
        <div class="picture" ng-style="{backgroundImage: 'url(' + newCard.url +')'}"> </div>
        <div class="stats">
          HP:{{newCard.stats.hp}}</br>
          ATK:{{newCard.stats.atk}}</br>
          Def:{{newCard.stats.def}}</br>
        </div>
      </div>


    <div class="cardList">
      <div class="card" ng-repeat="card in cards">
        <div class="name"> {{ card.name }} </div>
        <div class="picture" ng-style="{backgroundImage: 'url(' + card.url +')'}"> </div>
        <div class="stats">
          HP:{{card.stats.hp}}</br>
          ATK:{{card.stats.atk}}</br>
          Def:{{card.stats.def}}</br>
        </div>
      </div>
    </div>



    {{card}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" charset="utf-8"></script>
    <script src="app/app.js" charset="utf-8"></script>

    </script>
  </body>
</html>
